.logo{
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 350px;
    margin-top: 5rem;
}

.list{
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Barlow';
    margin-right: 200px ;
    margin-top: 50px;
    font-weight: bold;
    margin-left: 70px;
}

button{
    display: flex;
    font-size: 15px;
    margin-right: 18px;
    justify-content: left;
    margin-top: 10px;
    border-radius: 10px;
    color: #8486D1;
    box-shadow: none;
    border-style: none;
    background-color: white;
    border-bottom: none;
}

.input-box input {
    border-style: none;
    height: 25px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-bottom: 2px silver;
}

.exist{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Barlow';
}

.sign-in{
    display: flex;
    margin-top: 16px;
    border-bottom: none;
    color: #8486D1;
}

.hLogo{
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 350px;
    margin-top: 11rem;
}

.hLogin{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    font-family: 'Barlow';
    font-size: 1.5rem;
    gap: 100px;
}

.footer{
    font-family: 'Barlow';
    font-size: 13px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

